=breakpoint($max-width)
   @media screen and (max-width: $max-width)
      @content

body
  margin: 0 auto
  padding: 0


.header
  overflow: hidden
  // +breakpoint(867px)
  //   margin-top: 5%
  // +breakpoint(583px)
  //   margin-top: 12%
  &-logo
    width: 122px
    height: 108px
    +breakpoint(912px)
      // margin-right: 113px
    +breakpoint(517px)
      // margin-right: 0
    img
      width: 122px
      height: 108px
  &-contact
    width: 280px
    height: 108px
    background: grey
    // margin-right: 25px
  &-info
    width: 515px
    height: 108px
    padding: 0 20px 0 0
    background: grey
    text-align: right
    display: flex
    flex-direction: column
    p
      a
        text-decoration: none
        color: #fff
        font-size: 14px
        line-height: 22px
      .links:hover
        border-bottom: 1px solid #fff
  &-inner
    width: 100%
    max-width: 1024px
    margin: 0 auto
    overflow: hidden
    display: flex
    justify-content: space-between
    flex-direction: row
    +breakpoint(913px)
      flex-wrap: wrap
      justify-content: center
      +breakpoint(517px)
        // justify-content: center
    // text-align: center
    // padding: 100px 0 310px

// @import "_media.sass"
