=breakpoint($max-width)
   @media screen and (max-width: $max-width)
      @content

body
  margin: 0 auto
  padding: 0


.main
  overflow: hidden
  // background: #fff url(../images/third-bg.png) center top no-repeat
  // background-size: 100% 450px
  // margin-top: 2%
  // +breakpoint(867px)
  //   margin-top: 5%
  // +breakpoint(583px)
  //   margin-top: 12%
  &-overlay
    width: 100%
    max-width: 1920px
    height: 500vh
    margin: 0 auto
    overflow: hidden
    // text-align: center
    // padding: 100px 0 310px

// @import "_media.sass"
